.about {
  width: 90%;
  margin: 45px auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    opacity: 0.8;
  }

  .accordion {
    margin-bottom: 20px;
    p {
      margin: 0;
      font-weight: 500;
    }
  }
}
