nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  width: 90%;
  margin: 45px auto;

  img {
    width: 210px;

    @media (max-width: 769px) {
      width: 155px;
      height: 48.88px;
    }
  }

  ul {
    display: flex;
    gap: 30px;

    .liNav, .liNavActive {
      text-decoration: none;
      color: #000;
      font-size: 18px;
      font-weight: 500;
      
      @media (max-width: 769px) {
        font-size: 12px;
       text-transform: uppercase;
      }

      &:hover {
        border-bottom: 0.5px solid black;
      }
    }
    .liNavActive{
      border-bottom: 0.5px solid black;
    }
  }
}
